/* styling by tags */
a{
  text-decoration: none;
}

/* styling through IDs */
#active.form-control{
  width: 10%;
  margin-left: 19px;
}
#activeMember{

  height: 33.99074px;
  width: 86.99074px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-top: 3px;
}

/* styling through classes */
.changeCursorToPointer{
  cursor: pointer;
}
.thead-dark th{
  background-color: #014182c7;
  border-color: #014182c7;
}
.bg-dark{
  background-color: #014182c7!important;
}
.setMargin {
  margin-top: 25px;
}
.mt-4{
  margin-top: 2rem!important;
}
.has-error{
  border: red;
}
.btn-outline-success {
  color: #66ef85;
  border-color: #66ef85;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.row.float-left{
  width: 208px;
  margin-left: 15px;
}

