<!-- link to css file -->
<link rel="stylesheet" href="./enrollees.component.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<!-- Form that shows on the top of table to update an enrollee (ID and DOB is set disabled)  -->
 <div class="p-5">



<div class="mt-1 p-3" *ngIf="showFormDiv">
  <form [formGroup]= "recordForm" (ngSubmit)="submitEnrollee(recordForm.value.id,recordForm.value.name,recordForm.value.active)">
    <div class="row form-group">

      <!-- ID form -->
      <div class="col col-sm-6">
        <label for="id">ID: </label>
        <input class="form-control" type="text" id="id" name="id" formControlName="id" placeholder="Id" disabled/>
      </div>

      <!-- Name form -->
        <div class="col col-sm-6">
        <label for="name">Name: </label>
        <input class="form-control" type="text" id="name" name="name" formControlName="name" placeholder="Name" required [ngClass]="{'is-invalid': recordForm.get('name').errors && (recordForm.get('name').touched || recordForm.get('name').dirty)}">
        <!-- validating name form -->
        <span style="color: red;" *ngIf="recordForm.get('name').errors && (recordForm.get('name').touched || recordForm.get('name').dirty)">
          <span *ngIf= "recordForm.get('name').errors.required">
            <small>Name is required!</small>
          </span>
        </span>
      </div>

      <!-- dateOfBirth form -->
      <div class="col col-sm-6">
        <label for="dateOfBirth">DOB: </label>
        <input class="form-control" type="text" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" placeholder="DOB" disabled/>
      </div>

      <!-- active form -->
      <div class="col col-sm-6">
        <label class="setMargin" for="active">Active: </label>
        <input class="form-control" type="checkbox" id="active" name="active" formControlName="active" placeholder="Active"/>
      </div>

      <!-- update button -->
      <div class=" mt-4">
        <button class="btn btn-dark setUpdateButtonMaginOnSmallScreen" type="submit" (click) = "updateEnrollee(recordForm.value.id, recordForm.value)" title="Click to update enrolle">
          Update
        </button>
      </div>

      <!-- cancel button -->
      <div class="col mt-4">
        <button class="btn btn-dark" (click) = "cancelButton()" type="submit" title="Click to hide form">
          Cancel
        </button>
      </div>

    </div>
  </form>
</div>
  <!-- Looping through data and organizing in the form of table (used bootstrap) -->
  <table class="table mt-3 table-hover p-5" summary="It discribes an enrollees details, like ID, name, date of birth, and active status">
    <thead class="thead-dark">
      <tr>
        <th>ID <i (click)="sort('id')" class="fas fa-sort"></i></th>
        <th>Name <i (click)="sort('name')" class="fas fa-sort"></i></th>

        <th class="dob">Date of Birth</th>
        <th class="activeOnSmallScreenSize">DOB</th>

        <th>Status</th>
        <th class="removeActionColumnAtSmallScreen">Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor = "let E of enrollees | orderBy : key : reverse | paginate: { id: 'listing_pagination',
                                                                   itemsPerPage: 7,
                                                                   currentPage: page,
                                                                   totalItems: totalRecords }">
        <!-- Enrollee ID -->
        <td class="textColor displayTextOnLargeScreen" title="Enrollee ID">{{ E.id }}</td>

        <td class="textColor displayAlinkOnSmallScreen" title="Enrollee ID">
          <a class="nameClass" class="changeCursorToPointer" (click)="pullEnrolleeAndPlaceItInForm(E)">
            {{ E.id }}
          </a>
        </td>

        <!-- Enrollee name -->
        <td *ngIf="E.id === EditRowID">
          <input class="form-control" type="text" [(ngModel)]="E.name" required placeholder="{{E.name}}">
        </td>
        <td title="{{E.name}}" *ngIf="E.id !== EditRowID">{{ E.name | titlecase }}</td>

        <!-- Enrollee DOB -->
        <td style="padding-left: 1.7%" *ngIf="E.dateOfBirth; else notProvided" title="{{E.dateOfBirth}}">
          {{ formatedDOB(E.dateOfBirth) }}
        </td>
        <ng-template #notProvided>
          <td class="NAStyling">N/A</td>
        </ng-template>

        <!-- Enrollee Active status -->
        <td *ngIf="E.id === EditRowID" style="padding-top: 0.9%;">
          <select class="form-control removeActionColumnAtSmallScreen" name="status" [(ngModel)]="E.active">
            <option [ngValue]="true"><img src="../../../assets/camera_test.png" alt="active-icon">Active</option>
            <option [ngValue]="false"><img src="../../../assets/cross-script.png" alt="Inactive-icon">Inactive</option>
          </select>
        </td>

        <td *ngIf="E.id !== EditRowID " >
          <h6 class="removeTextOnSmallScreen" *ngIf="E.active; else notActive" style="color:green">
            <img class="iconImg" src="../../../assets/camera_test.png" alt="active-icon">
            <strong class="hideTextAtSmallScreen">Active</strong>
          </h6>

          <ng-template #notActive>
            <h6 style="color:red">
              <img class="iconImg" src="../../../assets/cross-script.png" alt="active-icon" title="Inactive">
              <strong class="hideTextAtSmallScreen">Inactive</strong>
            </h6>
          </ng-template>
        </td>

        <td class="removeActionColumnAtSmallScreen">
          <i *ngIf="E.id !== EditRowID" class="fas fa-user-edit customizedIcon" (click)="edit(E.id)" title="click to edit"></i>
          <i *ngIf="E.id === EditRowID" (click)=close() class="fas fa-times customizedIcon xIcon" title="click to close"></i>
          <i class="far fa-save customizedIcon" (click) = "updateEnrollee(E.id, E)" style="margin-left: 7%;" title="click to save"></i>
        </td>

        <ng-template #nameForm>
          <td>
            <form #nameForm="ngForm">
              <input type="text" name="name" [ngModel]="E.name">
            </form>
          </td>
        </ng-template>
      </tr>
  </table>

  <pagination-controls class="text-center" id="listing_pagination" maxSize="5" directionLinks="true" responsive="true" (pageChange)="page = $event" style="
  padding-left: 0px;"></pagination-controls>

</div>
